<% include header%>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>New chatroom</h1>
            <div class="">
                <form method="post" role="form">
                    <div class="form-group">
                        <textarea class="form-control" id="chatroom" name="chatroom" placeholder="Name your chatroom" rows="1" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create chatroom" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include footer%>

